@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-border-fill: #3498db;
  --color-border-empty: #e8e8e8;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 800px;
  margin-bottom: 30px;
  position: relative;
}

.progress-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 3px;
  width: 100%;
  background-color: var(--color-border-empty);
  z-index: -1;
}

.progress {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 3px;
  width: 0%;
  background-color: var(--color-border-fill);
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 3px solid var(--color-border-empty);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle.active {
  border-color: var(--color-border-fill);
  color: #000;
}

.btn {
     border: none;
     background-color: var(--color-border-fill);
     padding: 10px 30px;
     margin: 5px;
     border-radius: 6px;
     font-family: inherit;
     cursor: pointer;
     color: #fff;
     font-size: 14px;
     transition: 0.2s ease;
}

.btn:active {
     transform: scale(.98);
}

.btn:focus {
     outline: none;
}

.btn:disabled {
     background-color: var(--color-border-empty);
     cursor: not-allowed;
}